$colorUno: rgb(27, 230, 27);
$anchoCaja: 400px;
$cartas-ancho: 600px;
$cartas-alto: 500px;
$btn-lg: 600px;
$btn-sm: 300px;
$btn-md: 450px;
$suma: 30 + 70;
$resta: 100 - 50;
$divi: 80 / 2;
$multi: 50 * 3;

